
.vud-widget-proorcon {
  width: 100%;
  float: center;
  padding: 0 0.7em 0 0;
}

.vud-widget-proorcon a:hover {
  text-decoration: none;
}

/* Score */
.vud-widget-proorcon .proorcon-score {
  border: 1px solid #ccc;
  color: #000;
  font-size: 10px;
  width:200px;
  font-weight: bold;
  text-align: center;
  padding-top: 2px;
  margin-bottom: 2px;

}

.proorcon-current-score {
  width:100%;
}

.vud-widget-proorcon .proorcon-score .proorcon-current-score {
  font-size: 20px;
}

.vud-widget-proorcon .up-inactive,
.vud-widget-proorcon .down-inactive {
  display: block;
  color: #999999;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.vud-widget-proorcon .up-inactive:hover,
.vud-widget-proorcon .down-inactive:hover {
  font-size: 20px;
}

.vud-widget-proorcon div.proorcon-up {
  width:100px;
  margin-right: 3px;
}

.vud-widget-proorcon div.proorcon-down {
  width:100px;
  margin-left: 3px;
}

.vud-widget-proorcon .up-active,
.vud-widget-proorcon .down-active {
  color: #000000;
  /*border: 1px solid #ccc;*/
  width: 100px;
  font-size: 20px;
  color:navy;
  font-weight: bold;
  cursor: default;
}

.vud-widget-proorcon .ctools-ajaxing {
  border: 1px solid #ccc;
  padding-right: 0 !important;
  background-position: center;
  text-align: center;
}

.vud-widget-proorcon .ctools-ajaxing.proorcon-click-up {
  margin-right: 3px;
}

.vud-widget-proorcon .ctools-ajaxing.proorcon-click-down {
  margin-left: 3px;
}

.vud-widget-proorcon .ctools-ajaxing div {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
